@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  --primary-t-blue: rgb(23, 43, 77);
  --primary-t-green: rgb(10, 99, 62);
  --secondary-t-green: rgb(58, 74, 66);
  --secondary-b-light: rgb(235, 240, 238);
  --secondary-b-dark: rgb(208, 217, 212);
  --active-btn: rgb(0, 133, 82);
}

@media screen and (min-width: 768px){
a {
  text-decoration: none;
 }

nav > ul {
  display: flex;
  padding: 2%;
  gap: 10px;
  align-items: flex-start;
  padding: 80px 0px;
  gap: 24px;
  margin-left: 40em;
  top: 3139px;
  }
.nav menu li {
color: black;
}

.first-page {
  margin-top: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  background-image: url(./image/Header-llustration-desktop.svg);
  /* Header-llustration-desktop */


  position: absolute;
  width: 1472.8px;
  height: 1434.3px;
  left: 27px;
  top: -398px;
  background-size: 100% 100%;
}

.heading {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  color: var(--primary-t-blue);
}

h2 {
  margin-top: -1.5rem;
  font-size: 2.25rem;
  color: var(--primary-t-green);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--primary-t-blue);
}

li {
  list-style: none;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
  
.social-media-links {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

}